<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] EducacionVitual</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header  class="accordion-header">
        @if (User.Identity.IsAuthenticated)
        {
            <nav  class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container">

                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">EducacionVitual</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <ul class="navbar-nav">


                            <li class="nav-item">
                                <button type="button" class="btn btn-warning">
                                    <a class="nav-link text-dark" style="text-decoration: none" asp-area="" asp-controller="Home" asp-action="Index">Inico</a>
                                </button>
                            </li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <button type="button" class="btn btn-success">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Docentes" asp-action="Index">Docentes</a>
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <button type="button" class="btn btn-success">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Acudientes" asp-action="Index">Acudientes</a>
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <button type="button" class="btn btn-success">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Preguntas" asp-action="Index">Preguntas</a>
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <button type="button" class="btn btn-success">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Estudiantes" asp-action="Index">Estudiantes</a>
                                    </button>
                                </li>

                                <li class="nav-item">
                                    <button type="button" class="btn btn-success">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Actividades" asp-action="Index">Actividades</a>
                                    </button>
                                </li>

                                <li class="nav-item">
                                    <button type="button" class="btn btn-success">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Notas" asp-action="Index">Notas</a>
                                    </button>
                                </li>

                                <li class="nav-item">
                                    <button type="button" class="btn btn-info">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" title="Manage">Hola: @User.Identity.Name!</a>
                                    </button>
                                </li>
                            }
                            else if (User.IsInRole("Driver"))
                            {
                                <li class="nav-item">
                                    <button type="button" class="btn btn-success">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Estudiantes" asp-action="Index">Estudiantes</a>
                                    </button>
                                </li>

                                <li class="nav-item">
                                    <button type="button" class="btn btn-success">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Actividades" asp-action="Index">Actividades</a>
                                    </button>
                                </li>

                                <li class="nav-item">
                                    <button type="button" class="btn btn-success">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Notas" asp-action="Index">Notas</a>
                                    </button>
                                </li>

                                <li class="nav-item">
                                    <button type="button" class="btn btn-info">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" title="Manage">Hola: @User.Identity.Name!</a>
                                    </button>
                                </li>
                            }
                            <li class="nav-item">
                                <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button type="submit" class="btn btn-danger">Salir</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            &copy; 2021 - EducacionVirtual - <a asp-area="" asp-controller="Home" asp-action="Privacy">Terminos y Privacidad</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
