@model EducacionVirtual.Models.evaluaciones.Actividades

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Seguro desea eliminar la actividad?</h3>
<div style="background: linear-gradient(#f34f4fb6, #f3ac4fb6)">
    <img src="~/imagenes/eliminar.jpg" align="top" width="150" />
    <h4>Actividades</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoEvaluacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoEvaluacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreActividad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreActividad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Docente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Docente.apellido)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
